singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}
conda {
    enabled = true
}

executor {
    name = 'slurm'
    queueSize = 400
    submitRateLimit = '10sec'
}

process {
    executor = 'slurm'
          queue = 'main'
          cpus = 2
          memory = 4.GB
          time = 2.h

    withLabel: gpu {
          executor = 'slurm'
          queue = 'gpu'
          cpus = 4
          memory = 4.GB
          time = 2.h
          clusterOptions = { "--gres=gpu:tesla:1 --nodelist=falcon1" }

    }
 }

params {
  max_memory = 512.GB
  max_cpus = 20
  max_time = 100.h
}
